@font-face {
     font-family: "GillSansMTPro";
     src: url("../fonts/GillSansMTPro-Bold.eot");
     src: url("../fonts/GillSansMTPro-Bold.woff") format('woff'), 
     url("../fonts/GillSansMTPro-Bold.ttf") format('truetype');
}

@font-face {
	 font-family: "GillSansLightItalic";
     src: url("../fonts/GillSansMTPro-LightItalic.eot");
     src: url("../fonts/GillSansMTPro-Bold.woff") format('woff'), 
     url("../fonts/GillSansMTPro-Bold.ttf") format('truetype');
}

article {
	display: block;
	position: absolute;
	left: 22em;
	top: 23em;
}

body {
	background-color: #E1E2E2;
	color: #3F413B;
	font-family: GillSansMTPro;
}

canvas {
	position: absolute;
	left: 5em;
	top: 9em;
}

canvas, div {
	display: inline-block;
	vertical-align: bottom;
}

div {
	position: absolute;
	left: 23em;
	line-height: 0.01em;
	top: 14em;
}

figure {
	display: none;
}

h1 {
	border-bottom: 0;
	font-size: 90pt;
	margin-bottom: 0;
	padding-bottom: 0.1em;
}

h1, h6 {
	font-style: italic;
}

h6 {
	font-family: GillSansLightItalic;
	font-size: 15.3pt;
	letter-spacing: 3.3px;
	text-align: right;
}

hr {
	position: absolute;
	left: 15em;
	top: 23em;
	width: 600px;
}

p {
	text-align: center;
}

section {
	border-bottom: 1px solid black;
	position: relative;
}

@media screen and (max-width:800px){
	article, hr {
		position: absolute;
		left: 2.5em;
		top: 25em;
	}

	hr {
		width: 350px;
	}

	section {
		display: none;
	}

	figure {
		display: block;
		margin: 4em;
	}

	figure img{
		height: auto;
		width: 300px;
	}

}