@font-face {
     font-family: "GillSansMTPro";
     src: url("../fonts/GillSansMTPro-Bold.eot");
     src: url("../fonts/GillSansMTPro-Bold.woff") format('woff'), 
     url("../fonts/GillSansMTPro-Bold.ttf") format('truetype');
}

@font-face {
	 font-family: "GillSansLightItalic";
     src: url("../fonts/GillSansMTPro-LightItalic.eot");
     src: url("../fonts/GillSansMTPro-Bold.woff") format('woff'), 
     url("../fonts/GillSansMTPro-Bold.ttf") format('truetype');
}

article {
	display: block;
	position: absolute;
	left: 22em;
	top: 23em;
}

body {
	background-color: #E1E2E2;
	color: #3F413B;
	font-family: GillSansMTPro;
}

canvas {
	position: absolute;
	top: 7em;
}

canvas, div {
	display: inline-block;
	vertical-align: bottom;
}

div {
	position: absolute;
	left: 320px;
	line-height: 0.01em;
	top: 8em;
}

h1 {
	border-bottom: 0;
	font-size: 115pt;
	margin-bottom: 0;
	padding-bottom: 0.1em;
}

h1, h6 {
	font-style: italic;
}

h6 {
	font-family: GillSansLightItalic;
	font-size: 18pt;
	letter-spacing: 8.1px;
	text-align: right;
}

p {
	text-align: center;
}

section {
	position: relative;
}